*{
    margin:0 ;
    padding: 0;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}
.stopwatch{
    height: 350px;
    width: 450px;
    /* background-color: antiquewhite; */
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
    
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.timerdisplay{
    /* background-color: rgb(0, 0, 0); */
    /* border-radius: 30px; */
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 50px;

}
.btn{
    font-size: 1.7rem;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    padding: 12px 14px;
    margin-inline:12px ;

}
.btn:hover{
    opacity: 0.5;
    cursor: pointer;
}


